#modalTitle{
    margin-bottom: 20px;
}

.modalRow{
    display: flex;
    font-size: 18px;
}

.modalLabel{
    width: 20%;
    text-align: right;
    margin-right: 1%;
}

.modalBoldLabel{
    font-weight: bold;
}

.modalData{
    width: 79%;
    text-align: justify;
}

.modalTable{
    width: 48%;
    margin: 1%;
}

.modalTeamLeaderLabel{
    margin-right: 10px;
}

.modalTeamLeader{
    text-align: left;
}

.modalMarginTop{
    margin-top: 40px;
}

.modalTeamLeaderRow{
    display: flex;
    justify-content: flex-end;
}

.modalTeamLeaderWidth{
    width: 49%;
}

#modalTableHead {
    font-weight: bold;
    font-size: 16px;
}
.tableHeight{
    min-height: 350px;
}