#search{
    height: 30px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

#projektSearch, #projectListRefresh{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
}

#projectListPageNumberInput{
    width: 65px;
    border: 1px solid #17A288;
    color: #17A288;
    text-align: center;
    font-weight: bold;
}

#projectListPageNumberInput::-webkit-outer-spin-button,
#projectListPageNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#projectListPageNumberInput {
  -moz-appearance: textfield;
}

#pageButtons {
    width: 100px;
}

#projectListRefresh input{
    margin-left: 10px;
    margin-right: 20px;
}

#activeProjects{
    width: 20px;
    height: 20px;
}

.clickable{
    cursor: pointer;
}